<ion-view>
  <ion-nav-bar  class="bar bar-header bar-positive">
    <ion-nav-title>
     <h2>Ksn House Gps System </h2>

    </ion-nav-title>

  </ion-nav-bar>

  <ion-content>
    <div class="list card">

      <div class="item item-body" align="center">
        <img class="full-image" src="img/home.jpg">
        <p>
         โปรแกรมสำรวจตำแหน่งหลังคาเรือน<br/>
          เครือข่ายสุขภาพอำเภอแก้งสนามนาง
        </p>

      </div>
      <div class="item item-balanced" align="center">
        <p>
          กลุ่มงานประกันสุขภาพยุทธศาสตร์และสารสนเทศ<br/>
          โรงพยาบาลแก้งสนามนาง
        </p>

      </div>



    </div>
    <a href="#/map" class="button button-block button-calm">
      เริ่มใช้งาน
      </a>

  </ion-content>
</ion-view>
